.left {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}

.right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 10px;
}

.center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
}

.notify-error {
    color: red;
}

.notify-success {
    color: green;
}